@namespace BlazzyMotion.Carousel.Components
@typeparam TItem where TItem : class
@inherits BlazzyMotion.Core.Abstractions.BzComponentBase

@if (IsLoading)
{
    <div class="bzc-loading" @attributes="AdditionalAttributes">
        @if (LoadingTemplate != null)
        {
            @LoadingTemplate
        }
        else
        {
            <div class="bzc-spinner"></div>
            <p>Loading carousel...</p>
        }
    </div>
}
else if (IsEmpty)
{
    <div class="bzc-empty" @attributes="AdditionalAttributes">
        @if (EmptyTemplate != null)
        {
            @EmptyTemplate
        }
        else
        {
            <p>No items to display</p>
        }
    </div>
}
else
{
    <div class="@GetCombinedClass("bzc-carousel-box")" @ref="_carouselRef" data-item-count="@ItemCount"
        @attributes="AdditionalAttributes">
        <div class="swiper-container bzc-hidden">
            <div class="swiper-wrapper">
                @{
                    var index = 0;
                    foreach (var item in Items!)
                    {
                        var currentIndex = index;
                        <div class="swiper-slide" @onclick="() => HandleItemClick(item)">
                            @GetItemContent(item, currentIndex)
                            @if (ShowOverlay)
                            {
                                <div class="bzc-overlay"></div>
                            }
                        </div>
                        index++;
                    }
                }
            </div>
        </div>
    </div>
}