@namespace BlazzyMotion.Bento.Components
@inherits BlazzyMotion.Bento.Abstractions.BzBentoItemBase

<div class="@GetCombinedClass("bzb-feature")" style="@GetItemStyle()" @onclick="HandleClick" @attributes="AdditionalAttributes">

  @if (HasIcon)
  {
    <div class="bzb-feature-icon">
      @if (Icon != null)
      {
        @Icon
      }
      else if (!string.IsNullOrWhiteSpace(IconText))
      {
        @IconText
      }
    </div>
  }

  <span class="bzb-feature-label">@Label</span>

  @if (HasDescription)
  {
    <p class="bzb-feature-description">@Description</p>
  }
</div>